.d-container {
  margin-left: 6rem;
  padding-inline: 2rem;
  background-color: #e4e9f7;
}

.clients {
  background-color: #e4e9f7;
  /* padding: 6rem, 2rem, 2rem, 0; */
  height: 100vh;
  padding-left: 7rem;
  /* overflow-x: auto; */
  white-space: nowrap;
}

.n-container {
  background-color: #e4e9f7;
  padding-left: 3rem;
}

.graphic-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */

@media (max-width: 1200px) {
  .graphic-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 991px) {
  .d-container {
    padding-left: 5rem;
  }
  .graphic-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
}
@media (max-width: 450px) {
  .graphic-cards {
    display: block;
  }
  .graphic-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
