.nc-container {
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.nc-container > div {
  align-self: center;
  min-width: 20rem;
}

.nc-container img {
  width: 50rem;
}

@media (max-width: 768px) {
  .nc-container {
    margin-left: 2rem;
    overflow-x: auto;
  }
}

@media (max-width: 450px) {
}
