/*Contenedor*/

.contenedor {
  width: 90%;
  padding-left: 14rem;
  margin-top: 3rem;
}

.contenedor-video {
  position: relative;
  padding-top: 56.25%;
}

/*Reproductor de video*/
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .contenedor {
    padding-left: 10rem;
  }
  .graphic {
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (max-width: 450px) {
  .contenedor {
    padding-left: 7rem;
    width: 95%;
  }
}
